{% extends "layouts/base.njk" %}
{% block content %}
  <h1>All Adventures</h1>
  <div class="grid">
    {% for post in collections.posts | reverse %}
      {% include "partials/card.njk" %}
    {% endfor %}
  </div>
{% endblock %}
