---
title: Thanks!
layout: layouts/base.njk
permalink: /thanks/
---

<section class="container">
  <h1>🎉 Thanks for subscribing!</h1>
  <p>You’re officially part of Archie’s Adventure Club 🚀</p>
  <a class="btn-2tone" href="/">← Back to Home</a>
</section>
