{# Expecting `post` to be an Eleventy collection item #}
<a class="aa-card" href="{{ post.url }}">
  <div class="aa-card__media">
    {# cover comes from front matter: cover: /images/whatever.jpg #}
    {% set cover = post.data.cover or '/images/sample.jpg' %}
    <img src="{{ cover }}" alt="">
  </div>

  <div class="aa-card__body">
    <div class="aa-card__toprow">
      {# category pill (first tag) #}
      {% if post.data.tags and post.data.tags.length %}
        <span class="aa-pill">
          {{ post.data.tags[0] }}
        </span>
      {% endif %}
      <span class="aa-meta">
        {{ post.templateContent | readTime }}
      </span>
    </div>

    <h3 class="aa-card__title">{{ post.data.title }}</h3>

    {% if post.data.excerpt %}
      <p class="aa-card__excerpt">{{ post.data.excerpt }}</p>
    {% endif %}

    <div class="aa-card__meta">
      <span class="aa-meta">
        {{ post.date | date("MMM dd, yyyy") }}
      </span>
    </div>
  </div>
</a>
