{# Expecting `post` to be an Eleventy collection item #}
{# Safe fallbacks across Eleventy versions #}
{% set bodyHtml = post.templateContent or post.content or "" %}
{% set cover = post.data.cover or "/images/sample.jpg" %}

<a class="aa-card" href="{{ post.url }}">
  <div class="aa-card__media">
    <img src="{{ cover }}" alt="" loading="lazy" decoding="async">
  </div>

  <div class="aa-card__body">
    <div class="aa-card__toprow">
      {% if post.data.tags and post.data.tags.length %}
        {% set tag = (post.data.tags[0] or "") | lower %}
        <span class="aa-pill {{ 
          tag == 'nature'      ? 'aa-pill--green'  :
          tag == 'days out'    ? 'aa-pill--yellow' :
          tag == 'holidays'    ? 'aa-pill--blue'   :
          tag == 'fun stuff'   ? 'aa-pill--fun'    :
          'aa-pill--default'
        }}">{{ post.data.tags[0] }}</span>
      {% endif %}

      <span class="aa-meta">
        {{ bodyHtml | readTime }}
      </span>
    </div>

    <h3 class="aa-card__title">{{ post.data.title }}</h3>

    {% if post.data.excerpt %}
      <p class="aa-card__excerpt">{{ post.data.excerpt }}</p>
    {% endif %}

    <div class="aa-card__meta">
      <span class="aa-meta">{{ post.date | date("MMM dd, yyyy") }}</span>
    </div>
  </div>
</a>
