<article class="card">
  <a href="{{ post.url }}">
    {% if post.data.cover %}<img src="{{ post.data.cover }}" alt="">{% endif %}
    <h3>{{ post.data.title }}</h3>

    {% if post.data.tags %}
      <div class="tags">
        {% for t in post.data.tags %}
          <span class="tag {{ "tag--" + t | slug }}">{{ t }}</span>
        {% endfor %}
      </div>
    {% endif %}

    {% if post.date %}
      <div class="meta">{{ post.date | date | default(post.data.date) }}</div>
    {% endif %}

    {% if post.data.excerpt %}
      <p style="margin:.35rem 0 .1rem; opacity:.9">{{ post.data.excerpt }}</p>
    {% endif %}
  </a>
</article>
